<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>76782906463-uqkmnohn6h6ferruq1nt0r9j5p2mhrqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76782906463-uqkmnohn6h6ferruq1nt0r9j5p2mhrqa</string>
	<key>API_KEY</key>
	<string>AIzaSyC6exahmJVE91-sr5P1XshnuZYBWaiHxYE</string>
	<key>GCM_SENDER_ID</key>
	<string>76782906463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eugalde.Firebase-DB</string>
	<key>PROJECT_ID</key>
	<string>fir-db-f7392</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-db-f7392.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:76782906463:ios:f711c4f2190ec624</string>
	<key>DATABASE_URL</key>
	<string>https://fir-db-f7392.firebaseio.com</string>
</dict>
</plist>